[submodule "editors/flow-manager"]
	path = editors/flow-manager
	url = https://github.com/RomelSikdar/flow-manager.git
[submodule "editors/schema-builder"]
	path = editors/schema-builder
	url = https://github.com/RomelSikdar/schema-builder.git
